.header{background-color: darkred;}
.intro{background-color: darkolivegreen;width: 500px; height: 500px;}
h4 {color: chartreuse; text-align: center;padding-top: 5px; padding-bottom: 5px;}
.intro p{color: darkviolet;}
#summary-report{width: 300px;}