.biography{
    font-family: 'Open Sans Condensed', sans-serif;
}
.bio-information{
    font-family: 'Dancing Script', cursive;
}
body{
    background-color: indianred;
    text-align: center;
    box-shadow: maroon;
}
head{
    text-align: center;
}
div{
    background-color: lightblue;
    box-shadow: 15px 15px black ;
}
body > div{
    margin: auto;
    width: 50%;
    text-align: center;
    

}